:root {
    --notosans: 'Noto Sans', sans-serif;
    --fredoka: 'Fredoka', sans-serif;
    --roxo: #6C15D5;
}

.icons{
  color: #9c9c9c;
}

.icons:hover{
  color: var(--roxo);
}


/* Campo de busca (TextField da esquerda) */
.form-left .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: var(--roxo);
}

.form-left .MuiInputLabel-root.Mui-focused {
    color: var(--roxo);
}

/* Campo de categorias (Autocomplete da direita) */
.form-right .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: var(--roxo);
}

.form-right .MuiInputLabel-root.Mui-focused {
    color: var(--roxo);
}

.form-left .MuiInputBase-input,
.form-left .MuiInputLabel-root,
.form-right .MuiInputBase-input,
.form-right .MuiInputLabel-root {
    font-family: var(--notosans) !important;
    font-size: 18px;
}

.form-right li {
    font-family: var(--notosans) !important;
    font-size: 24px;
}


/* Chips selecionados */
.form-right .MuiChip-root {
    background-color: #E9D8FD !important; /* roxo claro */
    color: #4B0082 !important; /* roxo mais escuro pra contraste */
    font-family: var(--notosans);
    font-weight: 500;
  }
  
  /* Ícone de remover (o X) */
  .form-right .MuiChip-deleteIcon {
    color: #6C15D5 !important; /* tom mais forte de roxo */
  }
  .MuiOutlinedInput-root {
    & fieldset {
      legend {
        max-width: 0.01px;
      }
    }
  }
  
  .MuiInputLabel-root {
    background-color: white; /* ou a cor do fundo */
    padding: 0 12px !important;
  }

.MuiFormControl-root{
    width: 100%;
   
}

.MuiStack-root{
   
    font-family: var(--notosans) !important;
}

.MuiPickersInputBase-root span,
.MuiPickersSectionList-root span{
    font-family: var(--notosans) !important;
    font-size: 18px;
}

.MuiFormLabel-root {
  font-family: var(--notosans) !important;
  font-size: 18px;
}

.MuiInputBase-input {
  font-family: var(--notosans) !important;
  font-size: 18px;
}



  .icons{
    color: #9c9c9c;
  }
  
  .icons:hover{
    color: var(--roxo);
  }


  .form-middle .MuiInputLabel-root {
    font-family: var(--notosans) !important;
    font-size: 18px !important;
  
  }


.form-middle .MuiOutlinedInput-root {
    font-family: var(--notosans) !important;
    font-size: 18px !important;
  }

.form-middle .MuiInputLabel-root.Mui-focused {

  color: var(--roxo);
}

.form-middle .MuiPickersInputBase-root.Mui-focused fieldset {
  border-color: var(--roxo);
}


.MuiDayCalendar .MuiButtonBase-root .MuiPickersDay-root .Mui-selected {
  background-color: var(--roxo) !important;
  color: white !important;
}