:root {
    --notosans: 'Noto Sans', sans-serif;
    --fredoka: 'Fredoka', sans-serif;
    --roxo: #6C15D5;
}

.icons{
  color: #9c9c9c;
}

.icons:hover{
  color: var(--roxo);
}


/* Campo de busca (TextField da esquerda) */

.form-left .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: var(--roxo);
}

.form-left .MuiInputLabel-root.Mui-focused {
    color: var(--roxo);
}

/* Campo de categorias (Autocomplete da direita) */
.form-right .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: var(--roxo);
}

.form-right .MuiInputLabel-root.Mui-focused {
    color: var(--roxo);
}

.form-left .MuiInputBase-input,
.form-left .MuiInputLabel-root,
.form-right .MuiInputBase-input,
.form-right .MuiInputLabel-root {
    font-family: var(--notosans) !important;
    font-size: 18px;
}

.form-right li {
    font-family: var(--notosans) !important;
    font-size: 24px;
}


/* Chips selecionados */
.form-right .MuiChip-root {
    background-color: #E9D8FD !important; /* roxo claro */
    color: #4B0082 !important; /* roxo mais escuro pra contraste */
    font-family: var(--notosans);
    font-weight: 500;
  }
  
  /* Ícone de remover (o X) */
  .form-right .MuiChip-deleteIcon {
    color: #6C15D5 !important; /* tom mais forte de roxo */
  }

  .MuiInputLabel-root {
    background-color: white; /* ou a cor do fundo */
    padding: 0 8px !important;
  }

  .icons{
    color: #9c9c9c;
  }
  
  .icons:hover{
    color: var(--roxo);
  }

.form-middle .MuiInputBase-input,
.form-middle .MuiInputLabel-root {

  font-family: var(--notosans) !important;
  font-size: 18px;
}

/* Estilo para o DatePicker quando focado */
/* Força a borda roxa no estado focado do DatePicker */

.css-1hgcujo-MuiPickersInputBase-root-MuiPickersOutlinedInput-root.Mui-focused:not(.Mui-error) .MuiPickersOutlinedInput-notchedOutline {
  border-color: var(--roxo) !important; /* Define a borda roxa */
  border-width: 2px; /* Ajusta a espessura da borda */
}

.css-4k4mmf-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: var(--roxo) !important; /* Define a cor de fundo roxa */
  color: white !important; /* Define a cor do texto como branco */
}


.form-middle .MuiInputLabel-root.Mui-focused {
 
  color: var(--roxo) !important; /* Define o rótulo roxo */
}






  