:root{
    --roxoLogin: #BB8AFF53;
    --fredoka: 'Fredoka', sans-serif;
    --roxoLoginBtn: #6C15D5;
}

* {
    box-sizing: border-box;
}

.body_login {
    border-radius: 10px;
    box-shadow:
        0px 10px 100px var(--roxoLogin),
        0px -10px 100px var(--roxoLogin) !important; 
    width: 400px;
    height: 500px;
    margin: 0;
    padding: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.body_login .header_login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-top: 20px;
    padding-left: 20px;  
}

.home-login p{
    font-size: 18px;
    font-weight: 450 !important;
    color: var(--roxoLoginBtn);
}
.header_login p {
    padding-left: 9px;
    font-weight: 600;
    font-family: var(--fredoka) !important;

}

.header_login .logo-login {
    width: 30px;
    height: 30px;
   
}
.title_navbar_login {
    display: flex;
    padding-left: 30px;
    width: 100%;
}

.title_login {
   width: 87%;

    display: flex;
    justify-content: center;
    align-items: start;
    
}

.title_login h5 {
    
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: var(--fredoka) !important;
    font-weight: 500;
    font-size: 36px;
}



.form_login {
    width: 85%;

}
.btn{
    padding-top: 13px;
    padding-bottom: 11px;
}
.btn-login{

    width: 100%;
    background-color: var(--roxoLoginBtn) !important;
}

.btn-login p {
    font-family: var(--fredoka) !important;
    padding: 3px;
}

.links{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.links a{
    text-decoration: none;
    color: var(--roxoLoginBtn);
    font-family: var(--fredoka) !important;
}

.links-account-login {
    
    display: flex;
    justify-content: center;
    padding-top: 30px;
   
}

.links-account-login p{
    font-family: var(--fredoka) !important;
    font-weight: 400;
}

.links-account-login a{
    text-decoration: none;
    color: var(--roxoLoginBtn);
    font-family: var(--fredoka) !important;
}

.links-account-login a:hover{
    text-decoration: underline;
}
.links a:hover{
    text-decoration: underline;
}

/* alert laranja */

.MuiAlert-root.alert.MuiAlert-info {
  background-color: #FFA726 !important;
  color: #fff !important;
}
.MuiAlert-root.alert.MuiAlert-info .MuiAlert-icon {
  color: #fff !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--roxoBtn) !important;
    
}

.MuiInputLabel-root.Mui-focused {
    color: var(--roxoBtn) !important;
}