:root{
    --roxoNav: #6C15D5;
    --branco: #FFFFFF;
    --roxoFraco: #BB8AFF;
    --notosans: 'Noto Sans', sans-serif;
    --fredoka: 'Fredoka', sans-serif;
}


.navbar-home{
    background-color: rgb(255, 255, 255) !important;
    color: #000 !important;
    
}

.toolbar-home{
    display: flex;
    justify-content: space-between;
   
}

.btns-left-home, .btns-right-home{
    display: flex;
  
}

.logo-home {
    width: 90px;
    height: 90px;
}
.logo-home,
.btnPublicar{
    padding: 15px !important;
}



.btnPublicar{
    background-color: var(--roxoNav) !important;
}

button:hover{
    background-color: var(--roxoNav) !important;
    color: var(--branco) !important;
}

/* Aplicando a fonte Fredoka em todos os botões e tipografia */
.navbar-home *{
    font-size: 22px !important;
    font-weight: 500 !important;
    font-family: var(--fredoka) !important;
}

.list button  {
    font-size: 20px;
    color: var(--roxoNav);
}

.list button p {
    font-size: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-hamburguer{
    font-size: larger !important;
    color: var(--roxoNav) !important;
}

.btn-hamburguer .menu-icon{
    font-size: larger !important;
    display: flex;
    align-items: center !important;
}
