:root {
    --mui-palette-primary-main: #6C15D5 !important;
}

.css-r75yrr-MuiButtonBase-root-MuiButton-root{
    color: var(--roxoForteDashboard);
}

.css-1hz47ke-MuiFormControl-root-MuiPickersTextField-root {
    border-color: var(--roxoForteDashboard) !important;
}

.css-1u9omgy-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: var(--roxoForteDashboard) !important;
}